<!DOCTYPE html>

{% load static %}

<html> 

<head>
    <title>TheBookCafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_queries.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gotu&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand brand-text" href="">TheBookCafe</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#section-aboutid">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#section-menuid">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#section-bookingid">Get in Touch</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#section-outletid">Outlets</a>
              </li>

            </ul>

          </div>
        </div>
      </nav>

        <div id="section-heroid" class="hero-img">
            <div class="centered from-top">
              <div>
                <p class="hero-text">Coffee. Books. Moments. </p>
              </div>
            </div>
              <div  class="centered">
                <a href="#section-outletid"><button class="btn btn-warning" type="submit">Visit Us</button></a>
              </div>
        </div>

        <div id="section-aboutid" class="section-about">
          <p class="title">About Us</p>

          <!-- Slideshow container -->
          <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <div class="numbertext">1 / 6</div>
              <img src="{% static 'images/cafe_one.jpg'%}" style="width:100%">
              {% comment %} <div class="text">Caption Text</div> {% endcomment %}
            </div>

            <div class="mySlides fade">
              <div class="numbertext">2 / 6</div>
              <img src="{% static 'images/cafe_two.jpg'%}" style="width:100%">
              {% comment %} <div class="text">Caption Two</div> {% endcomment %}
            </div>

            <div class="mySlides fade">
              <div class="numbertext">3 / 6</div>
              <img src="{% static 'images/cafe_three.jpg'%}" style="width:100%">
              {% comment %} <div class="text">Caption Three</div> {% endcomment %}
            </div>

            <div class="mySlides fade">
              <div class="numbertext">4 / 6</div>
              <img src="{% static 'images/cafe_four.jpg'%}" style="width:100%">
              {% comment %} <div class="text">Caption Four</div> {% endcomment %}
            </div>

            <div class="mySlides fade">
              <div class="numbertext">5 / 6</div>
              <img src="{% static 'images/cafe_five.jpg'%}" style="width:100%">
              {% comment %} <div class="text">Caption Five</div> {% endcomment %}
            </div>   
            <div class="mySlides fade">
              <div class="numbertext">6 / 6</div>
              <img src="{% static 'images/cafe_six.jpg'%}" style="width:100%">
              {% comment %} <div class="text">Caption Five</div> {% endcomment %}
            </div>     
            <div >
              <p class="about-text">Our spaces are enriched with coziness and comfort along with nature as a key element. Designed to give you the opportunity to read, work, have a coffee or relax all at the same venue. It is bound to be a place you'd want to spend your time at regardless if you're with your loved ones or just yourself. </p>
              <p class="about-text">________________________________________________ </p>
            </div>
        </div>

        <div id="section-menuid" class="section-menu">
          <p class="title">Menu</p>
          <div  class="menu-text">
            {% if menu %}
            <table>
                <thead class="menu-header">
                  <th>Item</th>
                  <th>Price(RM)</th>
                </thead>
              {% for bookcafe in menu %}
                <tr>
                  <td >{{bookcafe.itemName}}</td>
                  <td style="text-align:center">{{bookcafe.itemPrice}}</td>
                </tr>
              {% endfor %}
            </table>
            {% else %}
            <p class="menu-text">No records found</p>
            {% endif %}
          </div>
        </div>

        <div id="section-bookingid" class="section-booking">
          <p class="title">Reservations</p>
          <p class="title-yellow"> ONLINE BOOKING </p>
          <div class="booking-container">
            <div>
              <img class="booking-img" src="{% static 'images/bookings.jpg' %}">
            </div>
            <div class="booking-text">
              <form method="post">
                {{ form.as_table }}

                {% csrf_token %}
                <input type="submit" name="" value="Submit" class="btn btn-warning">
              </form>
            </div>

          </div>
          <a href="#section-heroid" class="to-top">Back to Top</a>
        </div>

        <div id="section-outletid" class="section-outlets">
          <p class="title">Our Outlets</p>
          <div class="outlet-container">
            <div class="outlet-text">
              <p class="outlet-title"><strong>TheBookCafe (Klang)</strong></p>
              <p>+(603)5636-3883</p>
              <p>No. 11, Jalan Sultan Mohamed 5,<br>42000, Pelabuhan Klang.</p>
              <br>
            </div>
            <div class="outlet-text">
              <p class="outlet-title"><strong>TheBookCafe (Ipoh)</strong></p>
              <p>+(605)3545-7668</p>
              <p>59 Jalan Bercham Bandar Baru Tasek,<br>31400, Perak.</p>
              <br>
            </div>
            <div class="outlet-text">
              <p class="outlet-title"><strong>TheBookCafe  (Johor)</strong></p>
              <p>+(607)6232-0892</p>
              <p> No. 45 3rd Floor Jalan Susur Dewata 1,<br> Taman Larkin Perdana, 80350, Johor.</p>
              <br>
            </div>
          </div>
        </div> 

  <script src="{% static 'js/slideshow.js' %}"></script>

</body>

</html>